<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
    <h1>HelloWord</h1><br/>

    <!-- 使用thymeleaf语法实现页面跳转，可以动态获取工程路径 -->
    <!--<a th:href="@{/target}">目标页面</a>-->

    <!-- 跳转到测试成功页面 -->
    <!--<a th:href="@{/test/success}">测试成功页面</a>-->

    <!-- 测试method属性 -->
    <a th:href="@{/testMethod}">测试method属性</a><br/>

    <!-- 测试派生注解使用 -->
    <a th:href="@{/testGet}">测试派生注解</a> <br/>

    <!-- 测试params属性 -->
    <!-- 方式一：
        <a th:href="@{/testParams?username='Key'&password=123}">测试params属性</a>
    -->
    <!-- 方式二 -->
    <a th:href="@{/testParams(username='Key',password=123)}">测试params属性</a><br/>

    <!-- 测试Ant风格的路径书写 -->
    <a th:href="@{/a/a/testAnt}">测试Ant风格的路径书写</a><br/>

    <!-- 测试rest方式路径中的占位符 -->
    <a th:href="@{/testRest/1/Key}">测试rest方式路径中的占位符</a><br/>

    <!-- 测试同名形参获取请求参数单个值 -->
    <a th:href="@{/testParam01(username='Key', password=123)}">测试获取请求参数单个值</a><br/>

    <!-- 测试同名形参获取请求参数的多个值 -->
    <form th:action="@{/testParam02}" method="post">
        用户名：<input type="text" name="username"><br/>
        爱好：<input type="checkbox" name="hobby" value="a">a
        <input type="checkbox" name="hobby" value="b">b
        <input type="checkbox" name="hobby" value="c">c <br/>
        <input type="submit" value="测试同名形参获取请求参数">
    </form>

    <div>+------------------------------------------+</div>
    <!-- 测试@RequestParam注解 -->
    <form th:action="@{/testParam03}" method="post">
        用户名：<input type="text" name="user_name"><br/>
        密码：<input type="password" name="password"><br/>
        <input type="submit" value="测试@RequestParam注解">
    </form>

    <div>+------------------------------------------+</div>

    <!-- 测试实体类类型形参 -->
    <form th:action="@{/testBean}" method="post">
        姓名：<input type="text" name="username"><br/>
        年龄：<input type="text" name="age"><br/>
        性别：<input type="radio" name="gender" value="男">男
        <input type="radio" name="gender" value="女">女 <br/>
        <input type="submit" value="测试实体类类型形参">
    </form>

    <div>+------------------------------------------+</div>
    <!-- 测试servletAPI向request域中共享数据 -->
    <a th:href="@{/testScope01}">测试servletAPI向request域中共享数据</a><br/>

    <!-- 测试ModelAndView向request域中共享数据 -->
    <a th:href="@{/testScope02}">测试ModelAndView向request域中共享数据</a><br/>

    <!-- 测试Model向request域中存储数据 -->
    <a th:href="@{/testScope03}">测试Model向request域中存储数据</a><br/>

    <!-- 测试ModelMap -->
    <a th:href="@{/testScope04}">测试ModelMap向request域中存储数据</a><br/>

    <!-- 测试Map集合 -->
    <a th:href="@{/testScope05}">测试Map向request域中存储数据</a><br/>

    <!-- 测试session域共享数据 -->
    <a th:href="@{/testSession}">测试session域中共享数据</a><br/>

    <!-- 测试application域中共享数据 -->
    <a th:href="@{/testApplication}">测试application域中共享数据</a><br/>

    <div>+------------------------------------------+</div><br/>

    <!-- 测试ThymeleafView视图对象 -->
    <a th:href="@{/testView01}">测试ThymeleafView视图</a><br/>

    <!-- 测试转发视图 -->
    <a th:href="@{/testView02}">测试转发视图</a><br/>

    <!-- 测试重定向 -->
    <a th:href="@{/testView03}">测试重定向视图</a><br/>

    <!-- 测试操作用户信息 -->
    <a th:href="@{/testUser}">测试操作用户信息</a><br/>

    <!-- 测试报文信息转换 -->
    <a th:href="@{/testHttpMsg}">测试报文信息转换</a><br/>

    <!-- 测试拦截器 -->
    <a th:href="@{/testInterceptor}">测试拦截器</a><br/>

    <!-- 测试异常处理器 -->
    <a th:href="@{/testEx}">测试异常处理</a><br/>

    <!-- 测试文件上传和下载 -->
    <a th:href="@{/fileUpAndDown}">测试文件上传和下载</a><br/>
</body>
</html>